@font-face {
    font-family: 'Octobre';
    src: url('Octobre-BoldItalic.woff2') format('woff2'),
        url('Octobre-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Octobre';
    src: url('Octobre-Bold.woff2') format('woff2'),
        url('Octobre-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Octobre';
    src: url('Octobre-DemiBold.woff2') format('woff2'),
        url('Octobre-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Octobre';
    src: url('Octobre-DemiBoldItalic.woff2') format('woff2'),
        url('Octobre-DemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Octobre';
    src: url('Octobre-Light.woff2') format('woff2'),
        url('Octobre-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Octobre';
    src: url('Octobre-Italic.woff2') format('woff2'),
        url('Octobre-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Octobre';
    src: url('Octobre-LightItalic.woff2') format('woff2'),
        url('Octobre-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Octobre';
    src: url('Octobre-ThinItalic.woff2') format('woff2'),
        url('Octobre-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Octobre';
    src: url('Octobre-Regular.woff2') format('woff2'),
        url('Octobre-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Octobre';
    src: url('Octobre-Thin.woff2') format('woff2'),
        url('Octobre-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Octobre';
    src: url('Octobre.woff2') format('woff2'),
        url('Octobre.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Felidae';
    src: url('Felidae-Regular.woff2') format('woff2'),
        url('Felidae-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Citylines';
    src: url('Citylines.woff2') format('woff2'),
        url('Citylines.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Citylines';
    src: url('Citylines.woff2') format('woff2'),
        url('Citylines.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Costaline';
    src: url('Costaline-Thin.woff2') format('woff2'),
        url('Costaline-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Costaline';
    src: url('Costaline-ThinItalic.woff2') format('woff2'),
        url('Costaline-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Garamontio Sans';
    src: url('GaramontioSans-Regular.woff2') format('woff2'),
        url('GaramontioSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Garamontio Sans';
    src: url('GaramontioSans-Italic.woff2') format('woff2'),
        url('GaramontioSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-Bold.woff2') format('woff2'),
        url('DMSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-Italic.woff2') format('woff2'),
        url('DMSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-BoldItalic.woff2') format('woff2'),
        url('DMSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-MediumItalic.woff2') format('woff2'),
        url('DMSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-Medium.woff2') format('woff2'),
        url('DMSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-Regular.woff2') format('woff2'),
        url('DMSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

